<!DOCTYPE html>
<html>

<head>
  <title>CSCB20 Calendar</title>
  <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="{{ url_for('static', filename='./calendar.css') }}">
</head>

<body>

  <div class="header">
    <a href="" class="logo">CSCB20</a>
    <div class="header-right">
      <a href="">Home</a>

      <a class="active" href="calendar">Calendar</a>
      <a href="lectures">Lectures</a>
      <a href="assignments">Assignments</a>
       <a href="labs">Labs</a>
       <a href="tests">Tests</a>
      <a href="team">Team</a>
      <a href="resources">Resources</a>
        <a href="/">My Account</a>
        <a href="logout">Logout</a>

    </div>
  </div>
   <div class="title">
      <div class="title_in">
        <h1>Calendar</h1>
      </div>
    </div>
  <iframe src="https://calendar.google.com/calendar/embed?src=bs73rmcaknou66shokhptk0e0c%40group.calendar.google.com&ctz=America%2FToronto" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
  <footer>
    Website Designed By Sara and Yue <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science">Faculty of Computer Science</a> 
  </footer>
</body>

</html>

