<!DOCTYPE html>
<html>

<head>
  <title>CSCB20 Home</title>
  <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='./index.css') }}">
</head>

<body>
  <div class="header">
    <a href="" class="logo">CSCB20</a>
    <div class="header-right">
      <a class="active" href="">Home</a>
      <a href="calendar">Calendar</a>
      <a href="lectures">Lectures</a>
      <a href="assignments">Assignments</a>
       <a href="labs">Labs</a>
       <a href="tests">Tests</a>
      <a href="team">Team</a>
      <a href="resources">Resources</a>
      <a href="/">My Account</a>

        <a href="logout">Logout</a>
    </div>
  </div>
  <div class="title">
      <div class="title_in">
        <p> <h1>Welcome</h1></p>
      </div>
    </div>
  <div class ="home_image">
  <img  src="https://img.freepik.com/free-vector/man-with-laptop-studying-working-concept_113065-167.jpg" alt="Vector image with students"  width="700" height="350">
  </div>
  <div class="news">
    <h1> Announcements </h1>
    
    <div class="stories">
      
      <div class="news1">
        <h3>News title #1</h3>
        <p>In today's news we will be discussing the pros and cons of...</p>
      </div>

      <div class="news1">
        <h3>News title #2</h3>
        <p>Yesterday we talked about how to create a website....</p>
      </div>

      <div class="news1">
        <h3>News title #3</h3>
        <p>Tomorrow we will talk about how to....</p>
      </div>
      
    </div>

  </div>
<div class="footer">
  <footer>
    <p>Website Designed By Sara and Yue <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science">Faculty of Computer Science</a> </p>
  </footer>
  </div>
  
  
</body>

</html>

<!-- Div
 - use a div box in the html file
  - go into css and do div h2 {}
  - we can also call <h2 class="name_of_h2_tag" </h2>
    - then in cs we do .name_of_h2_tag

flexbox
- focuses on container
-->