<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instructor-Feedback</title>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
    <!--<link rel="stylesheet" href="/static/instructor-Feedback.css">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='./instructor-Feedback.css') }}">

</head>
<body>

    <div class="header">
      <a href="" class="logo">CSCB20</a>
      <div class="header-right">
        <a href="">Home</a>

        <a href="calendar">Calendar</a>
        <a href="lectures">Lectures</a>
        <a href="assignments">Assignments</a>
        <a href="labs">Labs</a>
        <a href="tests">Tests</a>
        <a href="team">Team</a>
        <a href="resources">Resources</a>
        <a class="active" href="/">My Account</a>
          <a href="logout">Logout</a>
      </div>
    </div>

    <div class="title">
      <div class="title_in">
        <h1>Feedback</h1>
      </div>
    </div>
    <!-- The table of feedbacks is created using the code below. Data from SQL table is also loaded-->
    <div class="in">

        <div class="row">

            <div class="column">
                <h3>Course</h3>
            </div>

            <div class="column">
                <h3>Instructor</h3>
            </div>

            <div class="column">
                <h3>Q1</h3>
            </div>

            <div class="column">
                <h3>Q2</h3>
            </div>

            <div class="column">
                <h3>Q3</h3>
            </div>
             <div class="column">
                <h3>Q4</h3>
            </div>


        </div>
        {% for item in student%}
        <div class="row">

            <div class="column">
                {{ item['course']}}
            </div>
            <div class="column">
                {{ item['instructor']}}
            </div>
            <div class="column">
                {{ item['q1']}}
            </div>
            <div class="column">
                {{ item['q2']}}
            </div>
            <div class="column">
                {{ item['q3']}}
            </div>
            <div class="column">
                {{ item['q4']}}
            </div>
        </div>
        {% endfor %}

     </div>

    <div class="footer">

       <p> Website Designed By Sara and Yue <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science">Faculty of Computer Science</a></p>

    </div>


</body>
</html>