<!DOCTYPE html>
<html>

<head>
  <title>CSCB20 Lectures</title>
  <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
 <link rel="stylesheet" href="{{ url_for('static', filename='./lectures.css') }}">
  <link rel="stylesheet" href="lectures.css">
</head>

<body>
<div class="content">
  <div class="header">
    <a href="" class="logo">CSCB20</a>
    <div class="header-right">
      <a href="">Home</a>

      <a href="calendar">Calendar</a>
      <a class="active" href="lectures">Lectures</a>
      <a href="assignments">Assignments</a>
      <a href="labs">Labs</a>
      <a href="tests">Tests</a>
      <a href="team">Team</a>
      <a href="resources">Resources</a>
      <a href="/">My Account</a>
        <a href="logout">Logout</a>
    </div>
  </div>

  <div class="title">
    <div class="title_in">
    <h1>Lectures</h1>
  </div>
  </div>

  <div class="table">
    <div class="row">
      <div class="column">

        <h3> Week</h3>
      </div>
      <div class="column">
        <h3>Topic </h3>
      </div>
      <div class="column">
        <h3>Pre-lecture Material </h3>
      </div>
      <div class="column">
        <h3>Lecture Material </h3>
      </div>
      <div class="column">
        <h3>In-Class </h3>
      </div>
    </div>
    <div class="row">
      <div class="column">

        <p> 1</p>
      </div>
      <div class="column">
        <p> Introduction, Databases background</p>
      </div>
      <div class="column">
        <a href="http://www.utsc.utoronto.ca/~bretscher/b20/lectures/w1.pdf">
          <p>prelec.pdf</p></a>
      </div> 
      <div class="column">
        <a href="http://www.utsc.utoronto.ca/~bretscher/b20/lectures/w1.pdf">
          <p>lec.pdf</p></a>
      </div>
      <div class="column">
       <a href="http://www.utsc.utoronto.ca/~bretscher/b20/lectures/w1.pdf">
          <p>inclass.pdf</p></a>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="column">

        <p> 3</p>
      </div>
      <div class="column">
        <p> Schema Diagrams, Relational Algebra</p>
      </div>
      <div class="column">
        <a href="http://www.utsc.utoronto.ca/~bretscher/b20/lectures/w1.pdf">
          <p>prelec.pdf</p></a>
      </div> 
      <div class="column">
        <a href="http://www.utsc.utoronto.ca/~bretscher/b20/lectures/w1.pdf">
          <p>lec.pdf</p></a>
      </div>
      <div class="column">
       <a href="http://www.utsc.utoronto.ca/~bretscher/b20/lectures/w1.pdf">
          <p>inclass.pdf</p></a>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="column">

        <p> 4</p>
      </div>
      <div class="column">
        <p> SQL and MySQL</p>
      </div>
      <div class="column">
        <a href="http://www.utsc.utoronto.ca/~bretscher/b20/lectures/w1.pdf">
          <p>prelec.pdf</p></a>
      </div> 
      <div class="column">
        <a href="http://www.utsc.utoronto.ca/~bretscher/b20/lectures/w1.pdf">
          <p>lec.pdf</p></a>
      </div>
      <div class="column">
       <a href="http://www.utsc.utoronto.ca/~bretscher/b20/lectures/w1.pdf">
          <p>inclass.pdf</p></a>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="column">

        <p> 5</p>
      </div>
      <div class="column">
        <p> MySQL Queries, Creating and Editing Tables</p>
      </div>
      <div class="column">
        <a href="http://www.utsc.utoronto.ca/~bretscher/b20/lectures/w1.pdf">
          <p>prelec.pdf</p></a>
      </div> 
      <div class="column">
        <a href="http://www.utsc.utoronto.ca/~bretscher/b20/lectures/w1.pdf">
          <p>lec.pdf</p></a>
      </div>
      <div class="column">
       <a href="http://www.utsc.utoronto.ca/~bretscher/b20/lectures/w1.pdf">
          <p>inclass.pdf</p></a>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="column">

        <p> 6</p>
      </div>
      <div class="column">
        <p> MySQL Outer Joins, Views, NULL, string functions, HTML</p>
      </div>
      <div class="column">
        <a href="http://www.utsc.utoronto.ca/~bretscher/b20/lectures/w1.pdf">
          <p>prelec.pdf</p></a>
      </div> 
      <div class="column">
        <a href="http://www.utsc.utoronto.ca/~bretscher/b20/lectures/w1.pdf">
          <p>lec.pdf</p></a>
      </div>
      <div class="column">
       <a href="http://www.utsc.utoronto.ca/~bretscher/b20/lectures/w1.pdf">
          <p>inclass.pdf</p></a>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="column">

        <p> 7</p>
      </div>
      <div class="column">
        <p>HTML, CSS</p>
      </div>
      <div class="column"> 
        <a href="http://www.utsc.utoronto.ca/~bretscher/b20/lectures/w1.pdf">
          <p>prelec.pdf</p></a>
      </div>  
      <div class="column">
        <a href="http://www.utsc.utoronto.ca/~bretscher/b20/lectures/w1.pdf">
          <p>lec.pdf</p></a>
      </div>
      <div class="column">
       <a href="http://www.utsc.utoronto.ca/~bretscher/b20/lectures/w1.pdf"> 
          <p>inclass.pdf</p></a>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="column">

        <p> 8</p>
      </div>
      <div class="column">
        <p> PHP</p>
      </div>
     <div class="column">
        <a href="http://www.utsc.utoronto.ca/~bretscher/b20/lectures/w1.pdf">
          <p>prelec.pdf</p></a>
      </div> 
      <div class="column">
        <a href="http://www.utsc.utoronto.ca/~bretscher/b20/lectures/w1.pdf">
          <p>lec.pdf</p></a>
      </div>
      <div class="column">
       <a href="http://www.utsc.utoronto.ca/~bretscher/b20/lectures/w1.pdf">
          <p>inclass.pdf</p></a>
        </a>
      </div>
    </div>
</div>
<div class="footer">
  <footer>
    Website Designed By Sara and Yue <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science">Faculty of Computer Science</a>
  </footer>
</div>
</body>

</html>