<!DOCTYPE html>
<html>
<head>
    <title>Title</title>
   <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='./signupfail.css') }}">
</head>
<body>
    
      <div class = "textin">
        <h3>Sorry that username already exists click sign up to try again</h3>
      </div>
  
  <div class="click">
    <button onclick="window.location.href = 'signup';">sign up</button>
  </div>
  <div class = "imgcontainer">
  <div class="img">
    </div>
  </div>
</body>
</html>