<!DOCTYPE html>
<html>

<head>
  <title>CSCB20 Tests</title>
  <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">

   <link rel="stylesheet" href="{{ url_for('static', filename='./tests.css') }}">
</head>

<body>

    <div class="header">
      <a href="" class="logo">CSCB20</a>
      <div class="header-right">
        <a href="">Home</a>

        <a href="calendar">Calendar</a>
        <a href="lectures">Lectures</a>
        <a href="assignments">Assignments</a>
        <a href="labs">Labs</a>
        <a class="active"  href="tests">Tests</a>
        <a href="team">Team</a>
        <a href="resources">Resources</a>
          <a href="/">My Account</a>

          <a href="logout">Logout</a>
      </div>
    </div>

    <div class="title">
      <div class="title_in">
        <h1>Tests</h1>
      </div>
    </div>
  <div class = "inbetween">
  </div>
    <div class = "test">
      <div class ="testName">
      <p>
       <h3> Midterm</h3>
          
        </p></div>
  <p>February 29th 2020</p>
  <div class="element">
  <div class = "info" >  
    <p>All content learned from weeks 1-4 including labs and pre-lec material</p>
    
  </div>
  <div class ="info">
     <img src="http://www.utsc.utoronto.ca/~bretscher/b20/tests/B20_rooms.jpg" alt="www.utsc.utoronto.ca"  width="500" height="200"> 
  </div>
  </div>
  </div>
  <div class = "inbetween">
  </div>
     <div class = "test">
      <div class ="testName">
      <p>
       <h3> Final</h3>
          
        </p></div>
  <p>April 1st 2020</p>
  <div class="element">
  <div class = "info" >  
    <p>All content learned will be tested. There will be one midterm. The midterm will be 75min in length. You should go to either HW215 or HW216 depending on your last name as shown here. </p>
    
  </div>
  <div class ="info">
     <img src="http://www.utsc.utoronto.ca/~bretscher/b20/tests/B20_rooms.jpg" alt="www.utsc.utoronto.ca"  width="500" height="200"> 
  </div>
  </div>
  </div>

    
    <div class="footer">
    
       <p> Website Designed By Sara and Yue <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science">Faculty of Computer Science</a></p>
      
    </div>
</body>

</html>